body{
	font-family: 'Montserrat', sans-serif;
	margin: 0px;	
	background-color: #162E3A;
}

header{
	margin: 0px;
	padding: 20px;
}

.logo{
	margin: 0px;
	margin-left: 20px;	
	margin-right: 20px;
	padding: 5px;
	width: 60px;
	height: 60px;
	text-align: center;
	vertical-align: middle;
	font-size: 30px;
	color: #fff;
	background-color: #F30909;
}

header .titulo{
	margin: 0px;
	padding: 0px;
}


header .titulo h1, h3{
	margin: 0px;
	margin-top: 5px;
	padding: 0px;
	color: #F6A735;
}

header .titulo h1{	
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 20px;
}

header .titulo h3{
	letter-spacing: 5px;
	font-size: 15px;
}


header ul{
	display: block;
	float: right;
	margin-right: 20px;	
}

header ul li{
	list-style: none;
	display: block;
	float: left;
	margin-left: 20px;
	padding: 5px;
}

header ul li a{
	text-decoration: none;
	color: #FDC80F;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: 0.5s;
}

header ul li a:hover{
	color: #fff;
}

header ul li .active{
	color: #fff;	
}


.principal{
	margin: 0px;
	padding: 20px;
	width: 100%;
	height: 650px;
	background-color: #162E3A;
	/*background-image: url("../img/fondo.jpg");*/
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.marcoFormulario h4{
	color: #fff;
	letter-spacing: 2px;

}

.marcoFormulario{
	padding: 10px 30px;
	width: 100%;
	color: #fff;
	background-color: rgba(255,255,255,0.3);
}

.boton{
	margin-top: 30px;
	width: 100%;
}

.boton2{
	padding: 10px;
	margin: 0px 5px;
}


.marcoFormulario h1{
	color: #2d2d2d;
	letter-spacing: 2px;
}

.espacioTabla{
	padding: 10px 20px;
	background-color: rgba(255,255,255,0.9);
	overflow: auto;
	min-height: 600px;
	max-height: 620px;
}

table{
	border: 1px solid #A35303;
	box-shadow: 1px 3px 3px rgba(45,45,45,0.6);
}

table thead th{
	background-color: rgba(250,120,0,1);	
	border: 1px solid #A35303;
} 

table tr td{
	border: 1px solid #DFC9B3;
	padding: 0px;
	margin: 0px;
	font-size: 10px;
} 
/*
.footer{
	font-family: 'Open Sans', sans-serif;
	background:#AF5607;
	padding: 6%;
	color: #fff;
	text-shadow: 0px 3px 10px rgba(45,45,45,0.6);
	text-align: center;
	font-size: 20px;
	letter-spacing: 3px;
	line-height: 1.9em;
	font-weight:700;
}
.resumen span{
	padding: 5px;
	background-color: rgba(255,255,255,0.3);
	border-radius: 2px;
	border: 1px solid #fff;
	margin-right: 10px;
}
*/